.primary-color {
  color: #4d62fd;
}

.secondary-color {
  color: #14213d;
}

.primary-color-bg {
  background-color: #4d62fd;
}

.secondary-color-bg {
  background-color: #14213d;
}

.drop-shadow-primary {
  box-shadow: 8px 8px 32px rgba(248, 249, 250, 0.25);
}

.drop-shadow-secondary {
  box-shadow: 8px 8px 32px rgba(20, 33, 61, 0.25);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
